<div class="login-page-wrap">
    <div class="login-page-content">
        <div class="login-box">
            <div class="item-logo">
                <!-- <img src="src\assets\img\logo2.png" alt="logo"> -->
            </div>
            <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit($event, loginForm.value)">
                <div class="form-group">
                    <label>UserName</label>
                    <input type="text" id="inputUsername" placeholder="Enter Username" class="form-control"
                        [formControl]="username">
                    <i class="far fa-envelope"></i>
                    <div *ngIf="submitted && username.hasError('required')" class="alert alert-danger" role="alert">
                        UserName Required
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" id="inputPassword" type="text" placeholder="Enter password"
                        class="form-control" [formControl]="password">
                    <i class="fas fa-lock"></i>
                    <div *ngIf="submitted && password.hasError('required')" class="alert alert-danger" role="alert">
                        Password Required
                    </div>
                </div>
                <div class="form-group d-flex align-items-center justify-content-between">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="remember-me">
                        <label for="remember-me" class="form-check-label">Remember Me</label>
                    </div>
                    <a href="#" class="forgot-btn">Forgot Password?</a>
                </div>
                <div class="form-group">
                    <button class="login-btn">Login</button>
                </div>
            </form>
        </div>
        <div class="sign-up">Don't have an account ? <a [routerLink]="['/registration']"    >Signup now!</a></div>
    </div>
</div>