<div class="signup-page">
    <div class="inner">
      <h2>  Reset Password  </h2>
      <form class="w-100" #resetPassForm="ngForm" [appMatchPassword]="['password', 'confirmPassword']" (ngSubmit)="resetPassForm.form.valid && onSubmit()" novalidate> 
        <div class="input password">
            <input type="password" name="password"  [(ngModel)]="resetPassObj.Password" placeholder="Password*"  #password="ngModel" appPasswordPattern required>
            <span class="text-danger"
            *ngIf="(password.touched || resetPassForm.submitted) && password.errors?.required">
            Password is required
        </span>
        <span class="text-danger" *ngIf="password.touched && password.errors?.invalidPassword">
          Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
          letter and 1 number
      </span>
        </div>
        <div class="input password">
            <input type="password"  [(ngModel)]="resetPassObj.ConfirmPassword"  placeholder="Confirm Password*" name="confirmPassword" #confirmPassword="ngModel" required>
            <span class="text-danger"
            *ngIf="(confirmPassword.touched || resetPassForm.submitted) && confirmPassword.errors?.required">
            Confirm Password is required
        </span>
        <span class="text-danger"
            *ngIf="confirmPassword.touched && confirmPassword.errors?.passwordMismatch">
            Passwords does not match
        </span>
        </div>
          <button type="submit" class="btn login">Reset</button>
        </form>
        <p class="text-center mt-3 pt-3 border-top"> or <a href="sign-in.html">Log In</a> </p>
    </div>
  </div>