<div class="clv-dasboard">
  <!--SIDEBAR-->
  <app-sidenavbar></app-sidenavbar>
  <div class="dashboard-right-section">


<div class="right-inner p-4">
              

              <!-- body -->
             <router-outlet></router-outlet>

        </div>

  </div> <!-- dashboard-right-section -->
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tagmanager/3.0.2/tagmanager.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tagmanager/3.0.2/tagmanager.min.css">