<!DOCTYPE html>
<html lang="en-US">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
  <!-- Swiper Slider -->
  <!-- <link rel="stylesheet" type="text/css" href="../../assets/css/slick-theme.css">
  <link rel="stylesheet" type="text/css" href="../../assets/css/slick.min.css"> -->
</head>
<body>

<!--Header Section-->
<app-topnavbar></app-topnavbar>
<!--Header Section Ends HERE-->
<router-outlet></router-outlet>
<app-footer></app-footer>
</body>
</html>