<div class="signup-page">
    <div class="inner">
      <h2>  Forgot Password  </h2>
      <form class="w-100" #forgotPassForm="ngForm" (ngSubmit)="forgotPassForm.form.valid && onSubmit()" novalidate> 
        <div class="email input">
          <input type="email" name="email" placeholder="Email"  [(ngModel)]="forgotPassword.Email" #email="ngModel" required email>
          <span class="text-danger"
                *ngIf="(email.touched || forgotPassForm.submitted) && email.errors?.required">
                Enter a valid email address
                </span>
          </div>
          <button type="submit" class="btn login">Reset</button>
        </form>
        <p class="text-center mt-3 pt-3 border-top"> or <a href="sign-in.html">Log In</a> </p>
    </div>
  </div>